pyinstaller
pymupdf         # For import fitz
opencv-python-headless # For import cv2 (use opencv-python if you needed GUI features)
numpy           # For import numpy
argparse        # For import argparse
